.margin > button {
    margin: 5px;
}

.demo-surface > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.demo-surface > div + div {
    margin-top: 10px;
}