.margin > button {
    margin: 5px;
}

.demo-surfaces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.demo-surfaces > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin: 0 40px 0;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}